@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply bg-white text-black;
  }
}

@layer components {
  .content {
    @apply h-full w-[100vw] px-2 pb-2 pt-16 lg:mx-auto lg:mt-10 lg:w-[45rem] lg:pt-2;
  }

  .dot {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
  }
}
